﻿
@using WebVoucherLibrary;
@{
    Layout = "~/Views/Shared/_VoucherLayout.cshtml";
    ViewBag.Title = "CreateVoucher";
}
@model Voucher
<div class="col-md-6">
    <img src="~/Content/Image/chillicoral.jpg" width="251" height="188" />
</div>
<div class="col-md-6">
    Chilli Coral<br />
    401 Crown Street<br />
    Surry Hills<br />
    t:02 80217869<br />
    <p></p>
    <bold>Voucher value $@Model.Value</bold>

    <img src="~/Content/Image/@(Model.Code).png" />
</div>
